/** styles for history section **/

.history {
    padding: 125px 375px 150px 800px;
    background: var(--white) url('../img/backgrounds/history/history-ship-bg.png') no-repeat;
    background-size: 1110px 362px;
    background-position: calc(100% + 550px) calc(100% - 90px);
    position: relative;
    z-index: 1;
    min-height: 800px;
    @media (max-width: 1650px) {
        padding: 89px 92px 130px 520px;
        min-height: 550px;
        background-size: 906px 295px;
        background-position: calc(100% + 566px) calc(100% - 60px);
    }
    @media (max-width: 1279px) {
        padding: 70px 40px 183px 360px;
        min-height: 470px;
        background-size: 615px 201px;
        background-position: calc(100% + 327px) calc(100% - 50px);
    }
    @media (max-width: 650px) {
        padding: 0 20px 120px;
        display: flex;
        flex-wrap: wrap;
        min-height: auto;
        align-items: flex-start;
        background-position: calc(100% + 415px) calc(100% - 58px);
    }
    &-slider {
        overflow: hidden;
        width: 480px;
        box-shadow: 0px 20px 92px rgba(27, 35, 47, 0.12);
        @media (max-width: 1650px) {
            width: 320px;
        }
        @media (max-width: 1279px) {
            width: 280px;
        }
        @media (max-width: 650px) {
            width: calc(100vw - 40px);
            box-shadow: none;
        }
        &__item {
            width: 480px;
            @media (max-width: 1650px) {
                width: 320px;
                img {
                    max-width: 100%;
                }
            }
            @media (max-width: 1279px) {
                width: 280px;
            }
        }
        &-wrap {
            top: -80px;
            left: 160px;
            position: absolute;
            @media (max-width: 1650px) {
                left: 120px;
                top: -50px;
            }
            @media (max-width: 1279px) {
                left: 40px;
                top: -60px;
            }
            @media (max-width: 650px) {
                position: static;
                transform: translateY(-60px);
                margin-bottom: 49px;
            }
            .history-pagination {
                position: absolute;
                top: calc(100% + 50px);
                bottom: auto;
                left: 50%;
                transform: translateX(-50%);
                display: flex;
                justify-content: center;
                @media (max-width: 1650px) {
                    top: calc(100% + 30px);
                }
                .swiper-pagination-bullet {
                    width: 20px;
                    height: 20px;
                    border: 2px solid #1B3051;
                    background-color: var(--white);
                    transition: background-color $trans;
                    margin-right: 20px;
                    @media (max-width: 1650px) {
                        width: 14px;
                        height: 14px;
                    }
                    @media (max-width: 1279px) {
                        width: 10px;
                        height: 10px;
                        opacity: 1;
                        border-width: 1px;
                    }
                    &:last-child {
                        margin-right: 0;
                    }
                    &:focus {
                        outline: none;
                    }
                    &-active {
                        background-color: #1B3051;
                        transition: background-color $trans;
                    }
                }
            }
        }
    }
    &-content {
        color: #1B232F;
        &__title {
            margin-bottom: 41px;
            font-weight: 600;
            font-size: rem(28);
            line-height: 1.1;
            letter-spacing: -0.8px;
            @media (max-width: 1650px) {
                font-size: rem(22);
                line-height: 1.35;
                margin-bottom: 25px;
            }
            @media (max-width: 1279px) {
                font-size: rem(20);
                line-height: 1.4;
                margin-bottom: 15px;
            }
        }
        &__descr {
            margin-bottom: 73px;
            font-size: rem(24);
            line-height: 2;
            @media (max-width: 1650px) {
                font-size: rem(18);
                line-height: 2.22;
                margin-bottom: 50px;
            }
            @media (max-width: 1279px) {
                font-size: rem(16);
                line-height: 1.5;
                margin-bottom: 30px;
            }
            @media (max-width: 650px) {
                margin-bottom: 35px;
            }
        }
        &__link {
            font-weight: bold;
            font-size: rem(12);
            line-height: 2;
            letter-spacing: 0.1em;
            text-transform: uppercase;
            transition: letter-spacing $trans;
            &:hover {
                letter-spacing: .2em;
                transition: letter-spacing $trans;
            }
        }
    }
}