.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1000;
    padding: 5vw;
    height: 100vh;
    overflow: hidden;
    background-color: #1B3051;
    display: none;
    &.opened {
        display: block;
    }
    &::-webkit-scrollbar {
        display: none;
    }
    &-close {
        position: absolute;
        right: 1vw;
        top: 1vw;
        width: 3vw;
        min-width: 25px;
        min-height: 25px;
        height: 3vw;
        background-color: var(--red);
        border-radius: 50%;
        cursor: pointer;
        transition: filter $trans;
        &:hover {
            filter: brightness(0.9);
            transition: filter $trans;
        }
        span {
            position: absolute;
            width: 1.5vw;
            height: .1vw;
            min-width: 15px;
            min-height: 2px;
            top: 50%;
            left: 50%;
            background-color: var(--white);
            transform: translate(-50%, -50%) rotate(-45deg);
            &:nth-child(1) {
                transform: translate(-50%, -50%) rotate(45deg);
            }
        }
    }
    iframe {
        width: 90vw !important;
        height: calc(100vh - 10vw) !important;
    }
}