<!DOCTYPE html>
<!-- v1.0.0 --g -->
<html lang="ru">

@@include("../blocks/modules/header/head.html")

<body>

    <div class="page-error">
        <div class="page-error-lines">
            <div class="line">
                <span>a</span>
                <span>b</span>
                <span>c</span>
                <span>d</span>
            </div>
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
            <div class="line">
                <span>a</span>
                <span>b</span>
                <span>c</span>
                <span>d</span>
            </div>
        </div>
        <div class="page-error-text">Страница отсутствует</div>
        <a href="" class="page-error-link">На главную</a>
        <div class="page-error-404">404</div>
    </div>

</body>

</html>