<!DOCTYPE html>
<!-- v1.0.0 --g -->
<html lang="ru">

@@include("../blocks/modules/header/head.html")

<body>

    <!-- begin of page -->

    <!-- begin of menu -->
    @@include("../blocks/modules/menu/menu.html")
    <!-- end of menu -->

    <div class="wrapper">

        <!-- begin of header -->
        @@include("../blocks/modules/header/header.html")
        <!-- end of header -->

        <!-- begin of main -->
        <main class="main">

            <!-- contacts module -->
            @@include("../blocks/modules/contacts/contacts.html")

        </main>
        <!-- end of main -->

        <!-- begin of footer -->
        @@include("../blocks/modules/footer/footer.html")
        <!-- end of footer -->

    </div>

    <!-- modals -->
    <div class="overlay">
        @@include("../blocks/modules/modals/modals.html")
    </div>

    <!-- connecting scripts -->
    <script src="js/main.js"></script>
    <script src="js/vendor.js"></script>

</body>

</html>